$color-bg: #3d3f47;

$blue: #409EFF;
$white: #eee;

$font-size-normal: 12px;
$font-size-big: 24px;

$header-heigth: 58px;

$border-size: 1px;
$border-style: solid;

$border-white: $border-size $border-style $white;
$border-blue: $border-size $border-style $blue;